# Project
clubok_be/src/main/resources/public
bundle.js

# IntelliJ
.idea/
*.iws
*.iml

# Maven
log/
target/
dependency-reduced-pom.xml

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Log file
*.log

# Mac
.DS_Store

# NodeJS
node_modules/
node/

# Sass
.sass-cache/
*.css.map