{
  "env": {
    "development": {
      "presets": [
        "env",
        "react",
        "stage-2",
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ]
    }
  }
}