$color_primary: #4bbcf4;
$color_dark: darken($color_primary, 15%);
$color_light: lighten($color_primary, 15%);
$color_danger: #FF6464;
$color_bg: #fafafa;

$color_blue: #0d71bb;
$color_red: #cc0000;
$color_grey: #888888;